# Assume python 3.10.12
black==23.7.0
fastparquet==2024.11.0
ipykernel~=6.29.5
jupyter==1.0.0
matplotlib==3.7.2

# Using ydata-profiling restricts the version of pandas and therefore of numpy
numpy<2
pandas==2.0.3

openpyxl==3.1.5
Pillow==10.0.0
pyarrow==21.0.0
scikit-learn==1.3.0
seaborn~=0.13.2
squarify==0.4.3
tqdm==4.65.0
xlsxwriter==3.2.0
ydata-profiling==4.16.1
